@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
}
#up{
  margin: 0 auto;
  padding: 1rem 0;;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#up ul{
  list-style-type: none;
  text-align:center; 
  padding: 0;
  margin: 0;
  vertical-align: center;
}
#up ul li{
  display: inline-block;  
  padding: 0 .5rem;
}

a{
 text-decoration: none;
 color: #5378fa;
}

a:hover{
  color: #9e9e9e;
}

#up form {
  vertical-align: center;
}
#up form input{
  border: 1px solid #e9e9e9;
  color :#9e9e9e;
  border-radius: 0;
  background: none;
  padding: .25rem;
}
#up form input[type="submit"] {
  border: 1px solid #9e9e9e;
  background-color: #9e9e9e;
  color: #fefefe;
}
#up form input[type="submit"]:hover {
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  color: #9e9e9e;
}
nav, section,header form, #up {
  max-width: 1200px;
}

nav {
  margin : 0 auto;
  border: 1px solid #e9e9e9;
  background-color: #e9e9e9;
}
nav ul{
  list-style-type: none;
  text-align:center; 
  margin: 0;

}
nav ul li{
  display: inline-block;  
}
nav ul a{
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #9e9e9e;
}
nav ul a:hover{
  background-color: #9e9e9e;
  color: #fefefe;
}
section {
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
article {
  width: 300px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  background-color: #e9e9e9;
}
article h3 {
  text-align: center;
}
.img-container {
  width: 100%;
}
.img-container img {
  width: 100%;
}
.genres {
  padding: 0;
  margin: 0;
}
.genres li {
  display: inline-block;
}
.genres a {
  display: inline-block;
  background-color: #9e9e9e;
  border-radius: 15px;
  padding: .5rem;
  margin: .25rem;
  text-decoration: none;
  color: #fefefe;
}
.genres a:hover{
  background-color: #fefefe;
  color: #9e9e9e;
}
article .num {
  padding: 0;
  margin:1rem 0 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.heart:hover {
  color: #cf362b;
}
.heart {
  color: #9e9e9e;
  font-size: 30px;
}
.favourited {
  color: #cf362b;
}
footer {
  margin: 0;
  padding:0;
  background-color: #e9e9e9;

}
footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer > p {
  text-align: center;
  margin: 0;
  padding:1rem;
}

.form div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.form label {
  font-weight: bold;
  width: 200px;
}
.form input, .form textarea, .advanced-search select{
  border: 1px solid #e9e9e9;
  color :#9e9e9e;
  border-radius: 0;
  background: none;
  padding: .25rem;
  width: 100%;
}
.form input[type="submit"] {
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  color: #9e9e9e;
  margin: 1rem;
}
.form input[type="submit"]:hover {
  background-color: #5378fa;
  border: 1px solid #5378fa;
  color: #fefefe;
}
.form input[type="reset"] {
  border: 1px solid #9e9e9e;
  background-color: #9e9e9e;
  color: #fefefe;
  margin: 1rem;

}
.form input[type="reset"]:hover {
  background-color: #cf362b;
  border: 1px solid #cf362b;
  color: #fefefe;
}
.error {
  color: #cf362b;
}

.manga, .volume-container {
  display: block;
}
.manga .container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
 justify-content: space-between;
}

.manga .container p {
  max-width: 500px;
}
.manga h2 {
  text-align: center;
}

.manga .img-container {
  width: 300px;
}

.manga #genres{
  list-style-type: none;
  text-align:center; 
  padding: 0;
  margin: 0;
  vertical-align: center;
}
.manga #genres li{
  display: inline-block;  
}
.manga h3 {
  margin: 2rem 0 1rem 0;
}

.volumes{
  list-style-type: circle;
  text-align:left; 
  padding: 0;
  margin: 0;
  vertical-align: center;
}
.volumes li{
  display: block;  
  padding: 0;
  margin: 1rem;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.volume-container > div {
  text-align: center;
}


.origional-width {
  max-width: 100%;
}